################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SimpleMultiplayerGameEngine/v15
/CommunicationInfrastructure/Debug
/CommunicationInfrastructure/x64/Debug
/Debug
/NetworkLibrary/Debug
/NetworkLibrary/GeneratedFiles/Debug
/QtConsoleApplication1/Debug
/Win32/Debug
/x64/Debug
/QTCIExampleApplication/Debug
/QTCIExampleLibrary/Debug
/QTCIExampleLibrary/GeneratedFiles/Debug
/QtConsoleApplication1/QtConsoleApplication1.vcxproj.user
/QTCIExampleLibrary/QTCIExampleLibrary.vcxproj.user
/QTCIExampleApplication/QTCIExampleApplication.vcxproj.user
/NetworkLibrary/NetworkLibrary.vcxproj.user
/intermediate
/binary/Win32/Debug
/NetworkLibrary/network-cppcheck-build-dir
/QTClientTestApp/Debug
/binary/x64/Debug
/QTClientTestApp/x64/Debug
/QtConsoleApplication2/Debug
/QTServerTestApp/QTServerTestApp.vcxproj.user
*.user
